@model MCV.Models.Image

@{
    ViewData["Title"] = "Create";
}


            
            
<div class="row">
    <div class="col-md-9">
        <br></br>
        <br></br>

      
        <h1>Create</h1>

        <h4>Image</h4>
        <hr />
        <div class="row">
            <div class="col-md-9">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="id" class="control-label"></label>
                        <input asp-for="id" class="form-control" />
                        <span asp-validation-for="id" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ShoeDetailId" class="control-label"></label>
                        <input asp-for="ShoeDetailId" class="form-control" />
                        <span asp-validation-for="ShoeDetailId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ImgUrl" class="control-label"></label>
                        <input asp-for="ImgUrl" class="form-control" />
                        <span asp-validation-for="ImgUrl" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>


    </div>
</div>


