
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@model MCV.Models.Brand

@{
    ViewData["Title"] = "Edit";
}



<div class="row">
    <div class="col-md-9">
        <br></br>
        <br></br>


        <h1>Edit</h1>

        <h4>Brand</h4>
        <hr />
        <div class="row">
            <div class="col-md-9">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="id" class="control-label"></label>
                        <input asp-for="id" class="form-control" />
                        <span asp-validation-for="id" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="name" class="control-label"></label>
                        <input asp-for="name" class="form-control" />
                        <span asp-validation-for="name" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>



    </div>
</div>


